/* Universal */

*,
*::before,
*::after {
margin: 0;
padding: 0;
-webkit-box-sizing: inherit;
box-sizing: inherit;
}


/* compartments */

header {
  display: grid;
  width: 70%;
  grid-template-columns: 1fr 1fr;
  background-color: lightgrey;
  justify-content: center;
  margin: 0 auto;
  padding-top: 2rem;

}

.head-about p {
  padding: 0.5rem;
  padding-left: 1.5rem;
}

.img-me {
  justify-self: end;
}


.img-me img {
  width: 80%;
  height: auto;
  position: relative;
  left: 3rem;
  top: 3rem;
}

.img-all img {
  margin: 0 auto;
}

.img-all .still  {
  width: 100%;
  padding: 0.5rem;
  padding-left: 1.5rem;
}

.img-all .move {
  position: absolute;
}

img.glasses {
  width: 12%;
  height: auto;
  right: 55%;
  top: 22%;
  transform: rotate(10deg);
  animation: thugLyfe1 2s;
}

img.joint {
  width: 3%;
  height: auto;
  right: 59%;
  top: 33.5%;
  transform: rotate(230deg);
  animation: thugLyfe2 2s;
  z-index: 5;
}


img.chain {
  width: 6%;
  height: auto;
  right: 59%;
  animation: thugLyfe3 2s;
  z-index: 2;
  top: 32.5%;

}

img.money {
  width: 6%;
  height: auto;
  right: 70%;
  animation: thugLyfe4 2s;
  z-index: 2;
  top: 50.5%;
}

img.left {
  right: 75%;
}

img.center {
  top: 45.5%;
  z-index: 5;
  animation: thugLyfe5 2s;
  
}

img.right {
  right: 68%;
}


/* img animations*/

@keyframes thugLyfe1 {
  0% {
    top: 0%;
    opacity: 0;
  }
 
  100% {
    top: 22%;
    opacity: 1;
  }
}

@keyframes thugLyfe2 {
  0% {
    right: 45%;
    opacity: 0;
  }
 
  100% {
    right: 59%;
    opacity: 1;
  }
}

@keyframes thugLyfe3 {
  0% {
    top: 45%;
    opacity: 0;
  }
 
  100% {
    top: 32.5%;
    opacity: 1;
  }
}

@keyframes thugLyfe4 {
  0% {
    top: 0%;
    opacity: 0;
  }
 
  100% {
    top: 50.5%;
    opacity: 1;
  }
}

@keyframes thugLyfe5 {
  0% {
    top: 0%;
    opacity: 0;
  }
 
  100% {
    top: 45.5%;
    opacity: 1;
  }
}

main {
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.item-header {
  text-align: center;
  padding: 2rem 0 2rem 0;
  background-color: lightskyblue;
  width: 95%;
  margin: 0 auto;
}

.item-header h3 {
  padding-bottom: 1rem;
}

.project-content {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.project-content img {
  width: 100%;
}



.project-content img[src*='dulu'] {
}

.project-content img[src*='constructorb'] {
}

.project-content img[src*='fotomat'] {
}

.project-content img[src*='white'] {
  position: absolute;
  transform: rotate(90deg);
  width: 5%;
  bottom: 5%;
  left: 10%;
  opacity: 0.5;
}

.project-content img[src*='right'] {
  position: absolute;
  transform: rotate(270deg);
  width: 5%;
  bottom: 5%;
  right: 10%;
}

.left-two {
  display: none;

}

.left-three {
  display: none;

}

.right-two {
  display: none;
  z-index: 5;
}

.right-three {
  display: none;
  z-index: 5;
}

.construct {
  display: none;
}

.fotomat {
  display: none;

}

footer p {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  background-color: lightseagreen;
}



p.dulu,
p.construct,
p.fotomat {
  padding: 1rem;
  text-align: center;
  background-color: lightblue;
  width: 95%;
  margin: 0 auto;
}

#dulup {
  padding: 1rem;
  text-align: center;
  background-color: lightblue;
  width: 95%;
  margin: 0 auto;
}

#constructp {
  padding: 1rem;
  text-align: center;
  background-color: lightblue;
  width: 95%;
  margin: 0 auto;
}

#fotomatp {
  padding: 1rem;
  text-align: center;
  background-color: lightblue;
  width: 95%;
  margin: 0 auto;
}

#paraholder {
  padding: 1rem;
  text-align: center;
  background-color: lightblue;
  width: 95%;
  margin: 0 auto;
}