/* Universal */

*,
*::before,
*::after {
margin: 0;
padding: 0;
-webkit-box-sizing: inherit;
box-sizing: inherit;
}


/* compartments */


h1 {
  width: 70%;
}

header {
  display: grid;
  width: 70%;
  grid-template-columns: 1fr 1fr;
  background-color: lightgrey;
  justify-content: center;
  margin: 0 auto;
  padding-top: 2rem;

}

.head-about p {
  padding: 0.5rem;
  padding-left: 1.5rem;

}

.img-me {
  margin: 0 auto;
  width: 100%
}


.img-me img {
  width: 100%;
  min-width: 300px;
  max-width: 500px;
}

.img-all img {
  margin: 0 auto;
}

.img-all .still  {
  position: relative;
  padding: 0.5rem;
  padding-left: 1.5rem;
  width: 100%;
}

#duluimg {
  width: 450px;
}



img.glasses {
  width: 150px;
  position: relative;
  bottom: 175px;
  right: 220px;
  transform: rotate(10deg);
}

img.joint {
  position: relative;
  width: 50px;
  bottom: 260px;
  left: 330px;
  z-index: 5;
  transform: rotate(240deg);
}


img.chain {
  position: relative;
  width: 85px;
  bottom: 205px;
  left: 240px;
}

img.money {
  position: relative;
  width: 70px;
}

img.left {
  position: relative;
  bottom: 140px;
  left: 30px;
}

img.center {
  position: relative;
  bottom: 140px;
  left: 30px;
  
}

img.right {
  position: relative;
  bottom: 170px;
  left: -90px;
}

@media only screen and (max-width: 1820px) {
  img.glasses {
    bottom: 288px;
    left: 270px;
  }

  img.joint {
    bottom: 259px;
    left: 170px;
  }

  img.chain {
    bottom: 200px;
    left: 90px;
}
  img.left {
  bottom: 140px;
  left: -60px;
}

  img.center {
  bottom: 140px;
  left: -200px;
  
}

  img.right {
  bottom: 170px;
  left: -240px;
}

h1 {
  margin: 0 auto;
}

}

@media only screen and (max-width: 1479px) {
  img.right {
    bottom: 240px;
    left: 200px;
  }

}

@media only screen and (max-width: 1269px) {

header {
justify-items: center;
width: 100%;
}

img.right {
  bottom: 170px;
  left: -250px;
}

.img-me img {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
}



}


/* img animations*/

@keyframes thugLyfe1 {
  0% {
    top: 0%;
    opacity: 0;
  }
 
  100% {
    top: 22%;
    opacity: 1;
  }
}

@keyframes thugLyfe2 {
  0% {
    right: 45%;
    opacity: 0;
  }
 
  100% {
    right: 59%;
    opacity: 1;
  }
}

@keyframes thugLyfe3 {
  0% {
    top: 45%;
    opacity: 0;
  }
 
  100% {
    top: 32.5%;
    opacity: 1;
  }
}

@keyframes thugLyfe4 {
  0% {
    top: 0%;
    opacity: 0;
  }
 
  100% {
    top: 50.5%;
    opacity: 1;
  }
}

@keyframes thugLyfe5 {
  0% {
    top: 0%;
    opacity: 0;
  }
 
  100% {
    top: 45.5%;
    opacity: 1;
  }
}

main {
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.item-header {
  text-align: center;
  padding: 2rem 0 2rem 0;
  background-color: lightskyblue;
  width: 95%;
  margin: 0 auto;
}

.item-header h3 {
  padding-bottom: 1rem;
}

.project-content {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.project-content img {
  width: 100%;
}



.project-content img[src*='white'] {
  position: absolute;
  transform: rotate(90deg);
  width: 5%;
  bottom: 5%;
  left: 10%;
  opacity: 0.5;
}

.project-content img[src*='right'] {
  position: absolute;
  transform: rotate(270deg);
  width: 5%;
  bottom: 5%;
  right: 10%;
}

.left-two {
  display: none;

}

.left-three {
  display: none;

}

.right-two {
  display: none;
  z-index: 5;
}

.right-three {
  display: none;
  z-index: 5;
}

.construct {
  display: none;
}

.fotomat {
  display: none;

}

footer p {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  background-color: lightseagreen;
}


#paraholder {
  padding: 1rem;
  text-align: center;
  background-color: lightblue;
  width: 95%;
  margin: 0 auto;
}


@media only screen and (max-width: 869px) {
  header {
    grid-template-columns: 600px;
  }
  
  img.glasses {
    bottom: 10px;
    left: 280px;
  }
  
  img.joint {
    bottom: -35px;
    left: 190px;
    margin-right: 340px;
  }
  
  img.chain {
    bottom: 30px;
    left: 300px;
    margin-right: 300px;

  }

  img.left {
  bottom: -70px;
  left: -290px;
  }
  
  img.center {
  bottom: -70px;
  left: -290px;
  
  }
  
  img.right {
  bottom: 30px;
  left: 140px;
  }
  
  .head-about p {
    width: 70%;
  }
  
  main {
    width: 100%;
  }
  
  .img-me img {
    display: none;
  }
  
  .img-all .still  {
    padding: 0;
    padding-left: 0;
    margin-bottom: -270px;
  }
  
  #duluimg {
    width: 500px;
  }

  #paraholder {
    width: 100%;
  }

  .item-header {
    padding: 1rem 0 1rem 0;
    width: 100%;
  }

  footer p {
    width: 100%;
  }

  .head-about p {
      width: 80%;
      height: 75px;
    
    }
}

@media only screen and (max-width: 600px) {
  header {
    grid-template-columns: 400px;
    padding-top: 0.2rem;
  }

  #duluimg {
    margin-top: 20px;
    width: 400px;
  }

  .img-all .still  {

    margin-bottom: -320px;
  }

  #paraholder {
    padding: 0;
  }

  img.glasses {
    bottom: -89px;
    left: 210px;
  }
  
  img.joint {
    bottom: -74px;
    left: 270px;
    margin-right: 340px;
  }
  
  img.chain {
    bottom: -15px;
    left: 240px;
    margin-right: 300px;

  }

  img.left {
  bottom: 0px;
  left: 100px;
  }
  
  img.center {
  bottom: 0px;
  left: 100px;
  
  }
  
  img.right {
  bottom: 30px;
  left: 0px;
  }

}